# Dependencies
/node_modules
/functions/node_modules

# Build output
/dist

# Firebase
.firebase
*.log

# Local env files
.env
.env.*

# IDE / OS files
.DS_Store
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?