# Logs
*.log

# Dependencies
/node_modules

# Environment variables
.env
.env.*
!/.env.example

# IDE & Environment files
.idea/
.vscode/
.idx/
metadata.json

# macOS files
.DS_Store

# Windows files
Thumbs.db